*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: black;
}
body{ 
  width: 100vw;
  height: 100vh;
}
canvas{
  background-color: black;
  border: 1px solid white;
  /* display: block; */
  /* margin: 0 auto; */
}